body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Home Page Background */
.home-container {
    position: relative;
    height: 100vh;
    background-image: url('https://i.ibb.co/z6hW2JV/Black-and-Grey-Modern-Business-Webinar-Flyer.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

/* Overlay to make text stand out */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Darken the background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

header {
    margin-bottom: 30px;
}

header .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home-btn {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1em;
    background-color: #ff7f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-btn:hover {
    background-color: #d96c00;
    }
